body {
  background-image: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -moz-radial-gradient();
}
.body2 {
  border: 1px solid black;
  padding: 10px 5px 5px 5px;
  background-color: rgb(228, 240, 252);
  margin: auto;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 60%;
  max-height: 20%;
}
.Heading {
  background-color: rgb(59, 239, 245);
  text-align: center;
  border: 1ex rgb(179, 177, 177);
}
input[type="text"],
input[type="email"],
input[type="number"],
.sub,
textarea,
select {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  padding: 8px;
  margin: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.sub:hover,
.button:hover {
  background-color: rgb(69, 255, 69);
}

.sub {
  background-color: rgb(59, 239, 245);
  text-align: center;
  border: 1px solid rgb(75, 75, 75);
}
.button{
    cursor: pointer;
    font-family: Rowdies, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: 0px;
    color: black;
    background-color: transparent;
}
.credit {
  text-align: center;
}
